img {
    height: 35px;
    width: 35px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
}

.heroData {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 0;
}
